<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Practice Suite">

    <listeners>
        <listener class-name="Utilites.Reporting"/>
    </listeners>

    <test name="AgentLogin">
        <parameter name="Agentusername" value="Agent@gmail.com"/>
        <parameter name="Agentpassword" value="Selenium@2021"/>
        <classes>
            <class name="TestRunner.TC_001"/>
        </classes>
    </test> <!-- Test -->



</suite> <!-- Suite -->
